In [1]:
from leer_datos import leer_fichero
vuelos = leer_fichero("Cleaned_2018_Flights.csv")

['', 'ItinID', 'MktID', 'MktCoupons', 'Quarter', 'Origin', 'OriginWac', 'Dest', 'DestWac', 'Miles', 'ContiguousUSA', 'NumTicketsOrdered', 'AirlineCompany', 'PricePerTicket\n']
14
['0', '20181767585', '2018176758501', '1', '1', 'PHL', '23', 'LAX', '91', '2402.0', '2', '1.0', 'AA', '672.87\n']
14
['1', '20181767586', '2018176758601', '1', '1', 'PHL', '23', 'LAX', '91', '2402.0', '2', '1.0', 'AA', '367.68\n']
14
['2', '20181767587', '2018176758701', '1', '1', 'PHL', '23', 'LAX', '91', '2402.0', '2', '1.0', 'AA', '417.94\n']
14
['3', '20181767636', '2018176763601', '1', '1', 'PHL', '23', 'LAX', '91', '2402.0', '2', '1.0', 'AA', '247.1\n']
14
['4', '20181767637', '2018176763701', '1', '1', 'PHL', '23', 'LAX', '91', '2402.0', '2', '1.0', 'AA', '276.35\n']
14
['5', '20181767637', '2018176763702', '1', '1', 'LAX', '91', 'ORD', '41', '1744.0', '2', '1.0', 'AA', '200.65\n']
14
['6', '20181767638', '2018176763801', '1', '1', 'PHL', '23', 'LAX', '91', '2402.0', '2', '1.0', 'AA', '560.96\n']
14
['7', '20181767639', '2018176763901', '1', '1', 'PHL', '23', 'LAX', '91', '2402.0', '2', '1.0', 'AA', '326.98\n']
14
['8', '20181767640', '2018176764001', '1', '1', 'PHL', '23', 'LAX', '91', '2402.0', '2', '1.0', 'AA', '389.9\n']
14
['9', '20181767641', '2018176764101', '1', '1', 'PHL', '23', 'LAX', '91', '2402.0', '2', '1.0', 'AA', '444.06\n']
14
['', 'ItinID', 'MktID', 'MktCoupons', 'Quarter', 'Origin', 'OriginWac', 'Dest', 'DestWac', 'Miles', 'ContiguousUSA', 'NumTicketsOrdered', 'AirlineCompany', 'PricePerTicket\n']
14
['0', '20181767585', '2018176758501', '1', '1', 'PHL', '23', 'LAX', '91', '2402.0', '2', '1.0', 'AA', '672.87\n']
14
['1', '20181767586', '2018176758601', '1', '1', 'PHL', '23', 'LAX', '91', '2402.0', '2', '1.0', 'AA', '367.68\n']
14
['2', '20181767587', '2018176758701', '1', '1', 'PHL', '23', 'LAX', '91', '2402.0', '2', '1.0', 'AA', '417.94\n']
14
['3', '20181767636', '2018176763601', '1', '1', 'PHL', '23', 'LAX', '91', '2402.0', '2', '1.0', 'AA', '247.1\n']
14
['4', '20181767637', '2018176763701', '1', '1', 'PHL', '23', 'LAX', '91', '2402.0', '2', '1.0', 'AA', '276.35\n']
14
['5', '20181767637', '2018176763702', '1', '1', 'LAX', '91', 'ORD', '41', '1744.0', '2', '1.0', 'AA', '200.65\n']
14
['6', '20181767638', '2018176763801', '1', '1', 'PHL', '23', 'LAX', '91', '2402.0', '2', '1.0', 'AA', '560.96\n']
14
['7', '20181767639', '2018176763901', '1', '1', 'PHL', '23', 'LAX', '91', '2402.0', '2', '1.0', 'AA', '326.98\n']
14
['8', '20181767640', '2018176764001', '1', '1', 'PHL', '23', 'LAX', '91', '2402.0', '2', '1.0', 'AA', '389.9\n']
14
['9', '20181767641', '2018176764101', '1', '1', 'PHL', '23', 'LAX', '91', '2402.0', '2', '1.0', 'AA', '444.06\n']
14

In [2]:
vuelos

[Vuelo(origen = PHL, destino = LAX, compañía = AA, precio = 672.87, km = 3865.63468),
 Vuelo(origen = PHL, destino = LAX, compañía = AA, precio = 367.68, km = 3865.63468),
 Vuelo(origen = PHL, destino = LAX, compañía = AA, precio = 417.94, km = 3865.63468),
 Vuelo(origen = PHL, destino = LAX, compañía = AA, precio = 247.1, km = 3865.63468),
 Vuelo(origen = PHL, destino = LAX, compañía = AA, precio = 276.35, km = 3865.63468),
 Vuelo(origen = LAX, destino = ORD, compañía = AA, precio = 200.65, km = 2806.68896),
 Vuelo(origen = PHL, destino = LAX, compañía = AA, precio = 560.96, km = 3865.63468),
 Vuelo(origen = PHL, destino = LAX, compañía = AA, precio = 326.98, km = 3865.63468),
 Vuelo(origen = PHL, destino = LAX, compañía = AA, precio = 389.9, km = 3865.63468),
 Vuelo(origen = PHL, destino = LAX, compañía = AA, precio = 444.06, km = 3865.63468)]

In [3]:
from Arbol import Arbol
arbol = Arbol(["origen", "destino", "compania"])
for i in range(10):
    nodo_final = arbol.insertar_vuelo(vuelos[i])
    
print(len(nodo_final.vuelos))
nodo_final.vuelos

EL atributo PHL no está en el diccionario {} de origen
DESPUES -> {'PHL': destino}
EL atributo LAX no está en el diccionario {} de destino
DESPUES -> {'LAX': compania}
EL atributo AA no está en el diccionario {} de compania
DESPUES -> {'AA': None}
None [Vuelo(origen = PHL, destino = LAX, compañía = AA, precio = 672.87, km = 3865.63468)]
EL atributo LAX no está en el diccionario {'PHL': destino} de origen
DESPUES -> {'PHL': destino, 'LAX': destino}
EL atributo ORD no está en el diccionario {} de destino
DESPUES -> {'ORD': compania}
EL atributo AA no está en el diccionario {} de compania
DESPUES -> {'AA': None}
None [Vuelo(origen = LAX, destino = ORD, compañía = AA, precio = 200.65, km = 2806.68896)]
9

[Vuelo(origen = PHL, destino = LAX, compañía = AA, precio = 672.87, km = 3865.63468),
 Vuelo(origen = PHL, destino = LAX, compañía = AA, precio = 367.68, km = 3865.63468),
 Vuelo(origen = PHL, destino = LAX, compañía = AA, precio = 417.94, km = 3865.63468),
 Vuelo(origen = PHL, destino = LAX, compañía = AA, precio = 247.1, km = 3865.63468),
 Vuelo(origen = PHL, destino = LAX, compañía = AA, precio = 276.35, km = 3865.63468),
 Vuelo(origen = PHL, destino = LAX, compañía = AA, precio = 560.96, km = 3865.63468),
 Vuelo(origen = PHL, destino = LAX, compañía = AA, precio = 326.98, km = 3865.63468),
 Vuelo(origen = PHL, destino = LAX, compañía = AA, precio = 389.9, km = 3865.63468),
 Vuelo(origen = PHL, destino = LAX, compañía = AA, precio = 444.06, km = 3865.63468)]