In [1]:
from Arbol import Arbol
from leer_datos import leer_datos
arbol = Arbol(["origen", "destino","trimestre", "compania"])
leer_datos("Cleaned_2018_Flights.csv", arbol)

In [2]:
arbol.mostrar()

->PHL->LAX->1->AA: 414 vuelos
->PHL->LGA->1->AA: 14 vuelos
->PHL->BOS->1->AA: 5 vuelos
->PHL->RDU->1->AA: 1 vuelos
->PHL->MCI->1->AA: 145 vuelos
->LAX->ORD->1->AA: 1 vuelos
->LAX->PHL->1->AA: 324 vuelos
->SAN->JFK->1->AA: 1 vuelos
->SFO->PHL->1->AA: 29 vuelos
->SFO->JFK->1->AA: 2 vuelos
->AUS->PHL->1->AA: 1 vuelos
->BOS->PHL->1->AA: 3 vuelos
->MIA->PHL->1->AA: 1 vuelos
->ORD->PHL->1->AA: 2 vuelos
->LGA->PHL->1->AA: 2 vuelos
->CLT->TPA->1->AA: 1 vuelos
->TPA->PHL->1->AA: 1 vuelos
->DFW->PHL->1->AA: 2 vuelos
->LAS->PHL->1->AA: 1 vuelos
->MCI->PHL->1->AA: 50 vuelos

In [3]:
len(arbol.buscar(["PHL","LAX",1,"AA"]))

414

In [5]:
from quicksort import quickSort
quickSort(arbol.buscar(["SFO","JFK",1,"AA"]))

[Vuelo(origen = SFO, destino = JFK, trimestre = 1, compañía = AA, precio = 214.64, km = 4163.46),
 Vuelo(origen = SFO, destino = JFK, trimestre = 1, compañía = AA, precio = 218.05, km = 4163.46)]

In [6]:
import pandas as pd
df = pd.read_csv("Cleaned_2018_Flights.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9534417 entries, 0 to 9534416
Data columns (total 14 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   ItinID             int64
 2   MktID              int64
 3   MktCoupons         int64
 4   Quarter            int64
 5   Origin             object
 6   OriginWac          int64
 7   Dest               object
 8   DestWac            int64
 9   Miles              float64
 10  ContiguousUSA      int64
 11  NumTicketsOrdered  float64
 12  AirlineCompany     object
 13  PricePerTicket     float64
dtypes: float64(3), int64(8), object(3)
memory usage: 1018.4+ MB

In [28]:
df_count =pd.DataFrame( df.Origin.value_counts())
df_count.loc[df_count.Origin > 1000]

     Origin
LAX  415297
ATL  412245
DEN  372116
ORD  333387
SFO  308119
..      ...
GPT    1137
ILM    1133
HDN    1111
GRI    1089
BRW    1005

[188 rows x 1 columns]

In [22]:
for row in df_count.iterrows():
    print(row)

AttributeError: 'Series' object has no attribute 'iterrows'